body{
    font-family: 'Caladea', serif;
    margin: 0;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 55px;
}
h3{
    font-family: 'Jomhuria', cursive;
    font-size: 200px;
}
.darkred-color{
color: darkred;
}
.indigo{
    color: indigo;
    font-size: 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    font-size: 25px;
    padding-right: 10px;
    
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(darkorange,red,tomato) ;
    padding: 15px 50px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.orange-color{
    color: darkorange;
}
h4{
    font-size: 25px;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experience-item{
    width: 50%;
    margin-left: 1.5%;
    margin-right: 1%;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 15px 10px 30px rebeccapurple;
    text-align: start;
    font-size: 25px;
   

}
#baby-developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(darkgreen, salmon );
    border-image-slice: 1;
}
#adobe-experience{
    border-left: 7px solid;
    border-image: linear-gradient(brown, yellow );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.text-allign{
    text-align: justify;
}
#exp{
    padding-left: 2px;
}